.tree,
.tree ul.tree-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tree ul.tree-list {
  position: relative;
}

.tree ul.tree-list:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  border-left: 1px dashed;
}
.tree li.tree-list-item {
  margin: 0;
  padding: 0 1.9em;
  padding-right: 0;
  line-height: 3em;
  position: relative;
  cursor: pointer;
}

.tree ul.tree-list li.tree-list-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 0;
  border-top: 1px dashed;
  position: absolute;
  top: 1.5em;
  left: 13px;
  margin-right: 15px;
}

.tree ul.tree-list li.tree-list-item:last-child:before {
  background: #fff;
  height: auto;
  bottom: 0;
}

ul.tree-list li.tree-list-item .wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

ul.tree-list li.tree-list-item .wrapper .actions {
  display: none;
}

ul.tree-list li.tree-list-item .wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

ul.tree-list li.tree-list-item .wrapper .dropdown-menu {
  top: 80%;
  left: -15px;
}

ul.tree-list li.tree-list-item .wrapper:hover .actions {
  display: inline-block;
  padding-right: 5px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}

ul.tree-list li.tree-list-item .dropdown-menu li {
  padding-left: 20px;
  max-width: 300px;
  width: 200px;
}

ul.tree-list li.tree-list-item .dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

ul.tree-list li.tree-list-item .dropdown-menu li i {
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.tree .indicator {
  margin-right: 8px;
  color: orange;
}

.tree li.tree-list-item a {
  text-decoration: none;
  color: #accdd3;
}

.tree li.tree-list-item button,
.tree li.tree-list-item button:active,
.tree li.tree-list-item button:focus {
  text-decoration: none;
  color: #369;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: 0;
}

.tree li.tree-list-item .dropdown-actions {
  display: inline-block;
  float: right;
}
